.statistics {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 275px;
  background-color: dimgrey;
  padding: 80px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 125px;
  background-color: aliceblue;
  margin: 0;
  /* padding: 15px; */
  font-size: 32px;
  text-transform: uppercase;
}
.stat_list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  /* border: solid 1px black; */
}
.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  width: 100%;
  height: 112px;
  margin: 0;

  /* justify-content: center;
  align-items: center; */
}

.label {
  margin-top: 12px;
  font-size: 20px;
  color: white;
}
.percentage {
  font-size: 32px;
  color: white;
}
