.friends_box {
  width: 630px;
  padding: 80px 40px;
  background-color: #86a1c2;
}
.friend_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  min-width: 300px;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 300px;
  padding: 12px;
  gap: 12px;
  background-color: aliceblue;
  border-radius: 12px;
  box-shadow: 8px 11px 14px -4px rgba(43, 43, 150, 1);
}
.avatar {
}
.name {
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
